html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

*{  margin: 0; padding: 0;
   font-family: 'Poppins', sans-serif;  }

a{  text-decoration:none; }

a:hover{  text-decoration: none;  }

li{ list-style: none; }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

p{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}


i{
  color: #2fccd0;
}




/********************scroll bar styling*****************/

::-webkit-scrollbar{
  width: 30px;
}

::-webkit-scrollbar-track{
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg,  #f8fc05, #f90404);
  border-radius: 40%;
  height: 35%;
}

/*******************scrollbar styling ends****************/

/*******************social icons start********************/

.social{
  position: fixed;
  top: 100px;
  z-index: 1;
}

.social ul{
  list-style: none;
  padding: 0;
  transform: translateX(-270px);
}

.social ul li {
  display: block;
  margin: 5px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}

.social ul li:hover{
  transform: translateX(110px);
}

.social ul li.twitter:hover {
  background-color: #55acee;
}

.social ul li.facebook:hover {
  background-color: #3d5999;
}

.social ul li.instagram:hover {
  background-color: #e4405f;
}

.social ul li.linkedin:hover {
  background-color: #0077b5;
}

.social ul li.call:hover {
  background-color: #efaf40;
}

.social ul li.gmail:hover {
  background-color: #de5145;
}

.social ul li.whatsapp:hover {
  background-color: #47c256;
}

.social ul li a{
  color: white;
  text-decoration: none;
}

.social ul li i {
  text-align: center;
  margin-left: 14px;
  color: black;
  /*background-color: white;*/
  padding: 10px;
  /*border-radius: 50%;*/ 
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: rotate(0deg);
}

.social ul li:hover i{
  transform: rotate(360deg);
  transition: all 1s;
}

/*********************social icons ends**********************/

/****************dropdown css starts*******************/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*********************dropdown css ends*********************/

/*********************parallax css starts*******************/

.parallaxone{
  width: 100%;
  height: 600px;
  background-image: url(../Images/poster.jfif);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallaxone h1{
  position: relative;
  margin: auto;
  top: 300px;
  width: 58%;
  text-align: center;
  height: auto;
  padding: 10px;
  background-color: #6ae8b1;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
}

.parallaxtwo{
  width: 100%;
  height: 600px;
  background-image: url(../Images/teamtable.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallaxtwo h1{
  position: relative;
  margin: auto;
  top: 290px;
  width: 33%;
  text-align: center;
  height: auto;
  padding: 10px;
  font-size: 1.9em;
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.para{
  padding: 40px;
  text-align: center;
  height: auto;
  background-color: black;
  color: white;
}

.para p{
  font-size: 20px;
  color: white;
}

.parallaxthree{
  width: 100%;
  height: 600px;
  background-image: url(../Images/followers.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallaxthree h1{
  position: relative;
  margin: auto;
  top: 280px;
  width: 60%;
  text-align: center;
  height: auto;
  padding: 10px;
  font-size: 1.8em;
  background-color: red;
  color: white;
  font-weight: bold;
}

.parallaxfour{
  width: 100%;
  height: 600px;
  background-image: url(../Images/students.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallaxfour h1{
  position: relative;
  margin: auto;
  top: 270px;
  width: 55%;
  text-align: center;
  height: auto;
  padding: 10px;
  background-color: #c7f466;
  color: red;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.parallaxfive{
  width: 100%;
  height: 600px;
  background-image: url(../Images/skill.webp);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallaxfive h1{
  position: relative;
  margin: auto;
  top: 270px;
  width: 59%;
  text-align: center;
  height: auto;
  padding: 10px;
  background-color: #47b2ef;
  color: yellow;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}

/******************services css starts**********************/

.services{
  margin: 50px;
  /*background: #262626;*/
}

.services h1 {
  text-align: center;
  padding: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.growth {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 25px auto 20px;
  
}

.growth .growservice {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,.8);
}

.growth .growservice:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.growth .growservice:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

.growth .growservice:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.growth .growservice:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.growth .growservice .imgBox {
  position: relative;
}

.growth .growservice .imgBox img {
  width: 100%;
  background-size: cover;
  transition: 0.5s;
}

.growth .growservice:hover .imgBox img {
  opacity: .2;
  transform: scale(1.2);
}

.growth .growservice .growthcontent {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.growth .growservice .growthcontent h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.growth .growservice .growthcontent p {
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}


.growth .growservice:hover .growthcontent p,
.growth .growservice:hover .growthcontent h2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

@media (max-width: 1200px) {
  .growth {
    width: 800px;
    height: auto;
    margin: 80px auto 80px;
    /*background: #262626;*/
  }

  .growth .growservice {
    width: calc(400px - 30px);
    height: calc(300px - 30px);
  }
}

@media (max-width: 800px) {
  .growth {
    width: 600px;
    height: auto;
    margin: 80px auto 80px;
    /*background: #262626;*/
  }

  .growth .growservice {
    width: calc(300px - 30px);
    height: calc(225px - 30px);
  }

  .growth .growservice .growthcontent p{
    font-size: 0.74rem;
  }

  .growth .growservice .growthcontent h2{
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .growth {
    width: 100%;
    height: auto;
    margin: 80px auto 80px;
    /*background: #262626;*/
  }

  .growth .growservice {
    width: calc(300px - 30px);
    height: calc(225px - 30px);
    margin: 15px auto;
    float: none;
  }

  .growth .growservice .growthcontent p{
    font-size: 0.74rem;
  }

  .growth .growservice .growthcontent h2{
    font-size: 1.2rem;
  }
}


/******************services css ends***********************/

/* **************Pricing css starts****************** */

.pricing{
  height: 100vh;
  width: 100%;
  padding: 50px;
  margin: 50px 0;
  position: relative;
}

.pricing h1{
  font-size: 45px;
  padding: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
}

.pricing:before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
  background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.cloth{
  font-size: 40px;
  line-height: 1;
  color: #606060;
}

.card{
  transition: 0.4s ease;
}

.card-header{
  font-size: 1.6rem;
  font-weight: bold;
  background: #fff!important;
  padding: 25px 9px!important;
}

.card-body{
  padding: 30px 0px!important;
}

.card-body li{
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #606060;
}

.card-footer{
  background: white!important;
  padding: 30px 0px!important;
}

.card-footer a{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.card:hover .card-footer a{
  color: #fff;
  background-color: #50d1c0;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover{
  transform: translateY(-25px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  
}

.card:hover .card-header, .card:hover .cloth{
  color: #50d1c0;
}

.card-sec{
  /* transform: translateY(22px); */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

/* **************Pricing css ends****************** */



/* **************Fotter css starts****************** */

.footersec{
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  background: #00abff;
  position: relative;
}

.footersec p{
  color: #fff;
}

.footersec li a{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.footersec h3{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-size: 1.5rem!important;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(5.9, 1.6, 9.8, 6.3);
}

#myBtn{
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  color: #fff;
  background: #00abff;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover{
  background: #606060;
}

.input-group-text{
  color: #fff;
  background: #5dc0de !important;
  border-radius: 0px 100px  100px 0px !important;
  min-width: 50px;
  min-height: 40px;
}

.mail-input{
  border-radius: 100px 0px 0px 100px!important;
  min-width: 150px;
  min-height: 45px;
}

/* **************Fotter css ends****************** */

/* ******************Media Queries****************** */

@media(max-width: 768px) {
  .nav-item{
    text-align: center!important;
  }

  .card-sec{
    transform: translateY(0px);
    margin: 30px 0;
  }

  .footerdiv:nth-child(2){
    text-align: left !important;
  }

  .footerdiv{
    margin: 30px 0;
  }

  /*******************social icons starts********************/

  
  .social ul{
    list-style: none;
    padding: 0;
    width: 50px;
  }

  .social ul li {
    display: block;
    padding: 10px;
    border-radius: 0 30px 30px 0;
  }
  
  
  .social ul li.twitter {
    background-color: #55acee;
  }
  
  .social ul li.facebook {
    background-color: #3d5999;
  }
  
  .social ul li.instagram {
    background-color: #e4405f;
  }
  
  .social ul li.linkedin {
    background-color: #0077b5;
  }
  
  .social ul li.call {
    background-color: #efaf40;
  }
  
  .social ul li.gmail {
    background-color: #de5145;
  }
  
  .social ul li.whatsapp {
    background-color: #47c256;
  }
  
  .social ul li a{
    color: white;
    text-decoration: none;
  }
  
  .social ul li i {
    text-align: center;
    color: white;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

/*********************social icons ends**********************/

}


/* ******************Media Queries****************** */

@media(max-width: 768px) {
  .nav-item{
    text-align: center!important;
  }

  .pricing, .review, .contactus{
    height: auto;
    margin-top: 50px;
  }

  .card-sec{
    transform: translateY(0px);
    margin: 30px 0;
  }

  .contactus p{
    padding: 0 50px;
  }

  .footerdiv:nth-child(2){
    text-align: left !important;
  }

  .footerdiv{
    margin: 30px 0;
  }
}